ul {
    list-style-type: none;
}

li {
    display: inline;
}

a {
    text-decoration: none;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: black;
}

a:hover {
    text-decoration: underline;
}

.container {
    display: flex;
    justify-content: space-between;
}

.nav-bar {
    text-align: center;
}